<div class="container-fluid">

<div class="row">
      <div class="col">
      <%= form_with url: "/applications", method: :post, local: true do |form| %>
        <div class="row">
          <%= form.label :first_name %>
          <%= form.text_field :first_name %>
        </div>

        <div class="row">
          <%= form.label :last_name %>
          <%= form.text_field :last_name %>
        </div>

        <div class="row">
        <%= form.label :street_address %>
        <%= form.text_field :street_address %>
        </div>

        <div class="row">
        <%= form.label :city  %>
        <%= form.text_field :city %>
        </div>

        <div class="row">
        <%= form.label :state %>
        <%= form.text_field :state %>
        </div>

        <div class="row">
        <%= form.label :zip_code %>
        <%= form.number_field :zip_code%>
        </div>

        <br><br>

        <div class="row">
        <%= form.submit 'Create Application',class:"application-submit btn btn-primary" %>
        </div>

      <% end %>
      </div>
      <div class="col">
      </div>
</div>
</div>