<div class="container-fluid">
  <div class="row">

    <div class="col-lg-4">
      <h1>All pets</h1>
    <div>

    <div class="col-sm-4">
      <%= link_to "Start an Application", "/applications/new" %>
    <div>

    <div class="col-sm-4">
      <%= form_with url: "/pets", method: :get, local: true do |f| %>
        <%= f.label :search %>
        <%= f.text_field :search %>
        <%= f.submit "Search" %>
      <% end %>
    </div>

  </div>
</div>

<div class="container-fluid">
  <% @pets.each do |pet| %>
    <div class="container border mt-2">
      <h3><%= pet.name %></h3>
      <p>Age: <%= pet.age %></p>
      <p>Breed: <%= pet.breed %></p>

      <% if pet.adoptable %>
      <%= "Adoptable: Yes!" %>
      <% else %>
      <%= "Adoptable: No :("%>
      <% end %>

      <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>

      <%= link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit",class: "btn btn-secondary btn-md" %>
      <%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete,class: "btn btn-danger btn-md" %>

    </div>
  <% end %>

</div>









