<div class="options-bar container-fluid">
  <div class="row">

    <div class="col-lg-4">
      <h1>All Pets</h1>
    </div>

    <div class="col-sm-4 my-auto">
      <%= link_to "Start an Application", "/applications/new",class:"btn btn-primary" %>
    </div>

    <div class="col-sm-4 my-auto">
      <%= form_with url: "/pets", method: :get, local: true do |f| %>
        <%= f.label :search %>
        <%= f.text_field :search %>
        <%= f.submit "Search" %>
      <% end %>
    </div>

  </div>
</div>

<div class="container">
  <% @pets.each do |pet| %>
    <div class="pet-card container border mt-2">

      <div class="pet-name row justify-content-center">
        <%= pet.name.titleize %>
      </div>

      <div class="card-row row">
        Age: <%= pet.age %>
      </div>

      <div class="card-row row">
        Breed: <%= pet.breed.titleize %>
      </div>

      <div class="card-row row">
        <% if pet.adoptable %>
        <%= "Adoptable: Yes!" %>
        <% else %>
        <%= "Adoptable: No :("%>
        <% end %>
      </div>

      <div class="card-row row">
        You can find <%= pet.name.titleize %> at <%= pet.shelter_name.titleize %> 
      </div>

      <div class="row">
        <div class="col">
          <%= link_to "Edit #{pet.name.titleize}", "/pets/#{pet.id}/edit",class: "btn btn-secondary btn-md" %>
          <%= link_to "Delete #{pet.name.titleize}", "/pets/#{pet.id}", method: :delete,class: "btn btn-danger btn-md" %>
        </div>
        <div class="col">
        </div>
      </div>

    </div>
  <% end %>

</div>
