<h1> Admin Application Page </h2>

<h2> Application ID: <%= @application.id%> </h2>

<%= @pets.each_with_index do |pet,index|%>
  <div id="pet-<%=index+1%>">
    <p> <%="Pet: #{pet.name} (#{pet.breed}, #{pet.age})" %> </p>
    <p> <%= link_to "Approve This Pet", "/admin/applications/#{@application.id}/update?pet_id=#{pet.id}&application_id=#{@application.id}&action=approve"%> </p>
  </div>
<% end %>

<%# fix above - need to have link patch pet status on application (on the join table)

pet_app_status%>