<%= @shelters.each do |shelter|%>
  <h1> <%= shelter.name%> </h1>
  <p> Foster Program: <%= shelter.foster_program %> </p>
  <p> City: <%= shelter.city %> </p>
  <p> Rank: <%= shelter.rank %> </p>
<% end %>